body {
  background-color: black;
  font-family: "Space Grotesk";
  font-style: normal;
}

#header {
  padding: 2% 3%;
  display: flex;
}

h1 {
  font-size: 75px;
  font-weight: 700;
  color: white;
  text-align: center;
}
.social-icons {
  color: white;
}

.nav-tabs {
  border-bottom: none !important;
}

.email-box {
  text-align: right;
}

.email {
  color: white;
  text-decoration: none;
}

.email:hover {
  opacity: 0.6;
  color: white;
}

hr {
  color: white;
  opacity: 0.8;
  margin: 0.5rem 0;
}

.nav-link {
  font-size: 1.4rem;
  color: white;
}

.nav-tabs .nav-link {
  margin-bottom: -1px;
  background: 0 0;
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: end;
}
.nav-tabs .nav-link.active {
  color: white !important;
  background-color: black;
  border: none;
  opacity: 1;
}

.image-box {
  position: relative;
}

.circle-img-lg,
.circle-img {
  border-radius: 50%;
  position: absolute;
}

.circle-img-lg {
  border: 15px solid black;
  width: 150px;
  height: 150px;
}

.circle-img {
  width: 100px;
  height: 100px;
}

.text-logo {
  width: 80%;
}

.portfolio-tab .nav-link,
.dark-text {
  color: #cfd2cf;
  opacity: 0.5;
}

.nav-link:hover {
  color: grey;
  border: none;
}

.dark-text {
  width: 38%;
  margin: 0 auto;
}

#portfolio {
  margin: 100px 0;
}

.portfolio-tab {
  margin-top: 2rem;
}

.nav-tabs {
  justify-content: space-evenly;
}

h5 {
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

.tab-content {
  padding: 0 5%;
}

.testimonial-card {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.testimonial-scroll {
  background-color: #efefef;
  padding: 0;
}

.test-row {
  margin-left: 0;
}

.testimonial-container {
  padding: 0 5rem;
}

.testimonial-text {
  width: 75%;
}

.my-custom-scrollbar {
  position: relative;
  height: 400px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}

footer {
  margin: 100px 0;
}

.footer-email {
  padding-left: 14px;
}

footer img {
  width: 447px;
  height: 486px;
  float: right;
}

footer .social-icon{
  height: 24px;
  width: 24px;
  float: none;
}

.footer-logo-box {
  position: relative;
}

.icon-email-footer {
  position: absolute;
  bottom: 35%;
  left: 5%;
}

@media (max-width: 978px) {
  .icon-email-footer {
    position: relative;
  }

  footer img {
    float: none;
  }
}

@media screen and (max-width: 769px) {
  .dark-text {
    width: 50%;
  }

  #portfolio {
    margin: 3rem 0;
  }

  .card {
    margin-bottom: 2rem;
  }

  #testimonial {
    text-align: center;
  }

  .testimonial-container {
    padding: 0 2rem;
  }

  .testimonial-scroll {
    margin-top: 3rem;
  }

  .text-start {
    text-align: center !important;
  }
  .testimonial-name,
  .testimonial-text {
    width: 90%;
    margin: 15px auto 0 auto;
    text-align: center;
  }

  footer {
    text-align: center;
  }

  .footer-icon {
    justify-content: center;
    margin-top: 2.5rem;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 40px;
  }

  .nav-link {
    font-size: 1.1rem;
  }

  .circle-img {
    display: none;
  }

  .circle-img-lg {
    border: 10px solid black;
    width: 100px;
    height: 100px;
  }

  .text-logo {
    width: 85%;
    height: 140px;
  }

  .dark-text {
    width: 80%;
  }

  .left-textimonal-box {
    padding: 0 4rem;
  }

  .py-5 {
    padding: 1rem 0 !important;
  }

  .testimonial-container {
    padding: 0;
  }

  footer img {
    width: 77px;
    height: 83.6px;
  }



  .footer-email {
    padding: 0;
  }
}

@media (min-width: 375px) {
  .float-md-start {
    float: left !important;
  }
}
