#tools{
    margin-bottom: 120px;
}

#tools h1{
    margin-bottom: 32px;
}


.tools-list img{
    width: 6%;
    margin: 20px;
  }


  @media (max-width:531px) {
    .tools-list img{
        width: 12%;
        margin: 20px;
        height: inherit;
      }

    .corel{
        width: 20% !important;
    }
  }